:root {
  --main-bg-color: #FFFFFF;
  --issabeline-bg-color: #EEEEEE;
  --spaceCadet-bg-color: #17255A;
  --cbGreen-bg-color: #03CEA4;
  --saffron-bg-color: #EAC435;
  --darkPurple-bg-color: #2D1E2F;
  --gunMetalbg-bg-color: #273043;
  --vividTang-bg-color: #F5772F;
  --sunsetOrange-bg-color: #E13F29;
  --grey-bg-color: #C4C4C4;
}

/* General styles */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: var( --main-bg-color);
  font-family: "Roboto", "Nunito";
}

/* Header styles */

.genesys__header {
 width: 100%;
 height: 10rem;
 display: flex;
 justify-content: space-between;
 padding-left: 5rem;
 padding-top: 3rem;
 /* position: fixed; */
}

.navbar-items-1 {
 display: flex;
 justify-content: space-evenly;
 padding-right: 15rem;
}

ul li {
 padding: 1.5rem;
 font-size: 1.5rem;
 list-style-type: none;
 color: #000;
}

a:link{
 text-decoration: none;
 text-transform: uppercase;
 color: #000;
}

.genesys__navbar-right {
 padding-right: 3rem;
}

.genesys__navbar-right span {
 font-size: 1.2rem;
}

span .build {
 font-size: 20rem;
}

.devstudio {
 margin-left: 2rem;
 padding: .5rem;
 background: none;
 border-radius: .5rem;
}

/* About styles */

.genesys__about--section {
 width: 100%;
 height: 65rem;
}

.about--text-content {
 padding-top: 7rem;
 padding-left: 5rem;
}

.about--text-content h1{
 font-size: 2.5rem;
 font-weight: 900;
 color: var(--spaceCadet-bg-color);
}

.about--text-content p {
 padding-top: 1.5rem;
 font-size: 1.5rem;
 color: var(--gunMetalbg-bg-color)
}

.about--image-content {
 display: flex;
 padding-top: 2rem;
}

.about--arrow-img {
 width: 10%;
 height: 60vh;
 background-image: url('/img/arrow-down.png');
 background-repeat: no-repeat, repeat;
 background-position: center;
}

.about--main--img {
 width: 100%;
 height: 60vh;
 background-color: var(--grey-bg-color);
 background-image: url('/img/ladies.png');
 background-size: cover;
}

/* Leanrable styles */
.genesys__learnable--section {
 display: flex;
 justify-content: space-evenly;
 align-items: center;
}

.genesys__learnable--section {
 width: 100%;
 height: 50rem;
}

.learnable--img {
 width: 45rem;
 height: 35.5rem;
 background-color: var(--grey-bg-color);
 background-image: url('/img/guy.png');
 background-size: cover;
}

.learnable--text-content {
 padding-right: 5rem;
 color: var(--gunMetalbg-bg-color)
}

.learnable--text-content h1 {
 font-size: 3rem;
 font-weight: 600;
}

.learnable--text-content p {
 font-size: 1.5rem;
 font-weight: 400;
 padding-top: 3.5rem;
 padding-bottom: 2.5rem;
}

.learnable--text-content span {
 text-decoration: underline;
 text-decoration-color: none;
}

.learnable--text-content a {
 color: var(--cbGreen-bg-color);
 font-size: 1.5rem;
 font-weight: bold;
}

/* Agora styles */
.genesys__agora--section {
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 background-color: var(--grey-bg-color);
}

.genesys__agora--section {
 width: 100%;
 height: 50rem;
}

.agora--img {
 width: 45rem;
 height: 35.5rem;
 background-color: var(--grey-bg-color);
 background-image: url('/img/agora.png');
 background-size: cover;
}

.agora--text-content {
 padding-right: 5rem;
 color: var(--gunMetalbg-bg-color)
}

.agora--text-content h1 {
 font-size: 3rem;
 font-weight: 600;
}

.agora--text-content p {
 font-size: 1.5rem;
 font-weight: 400;
 padding-top: 3.5rem;
 padding-bottom: 2.5rem;
}

.agora--text-content span {
 text-decoration: underline;
 text-decoration-color: none;
}

.agora--text-content a {
 color: var(--cbGreen-bg-color);
 font-size: 1.5rem;
 font-weight: bold;
}

/* Startzoe styles */

.genesys__startzone--section {
 display: flex;
 justify-content: space-evenly;
 align-items: center;
}

.genesys__startzone--section {
 width: 100%;
 height: 50rem;
}

.startzone--img {
 width: 45rem;
 height: 35.5rem;
 background-color: var(--grey-bg-color);
 background-image: url('/img/startzone.png');
 background-size: cover;
}

.startzone--text-content {
 padding-right: 5rem;
 color: var(--gunMetalbg-bg-color)
}

.startzone--text-content h1 {
 font-size: 3rem;
 font-weight: 600;
}

.startzone--text-content p {
 font-size: 1.5rem;
 font-weight: 400;
 padding-top: 3.5rem;
 padding-bottom: 2.5rem;
}

.startzone--text-content span {
 text-decoration: underline;
 text-decoration-color: none;
}

.startzone--text-content a {
 color: var(--cbGreen-bg-color);
 font-size: 1.5rem;
 font-weight: bold;
}


/* Other things styles */

.genesys__otherThings--section {
 width: 100%;
 height: 50rem;
 display: flex;
 justify-content: space-evenly;
 background-color: var(--grey-bg-color);
}

.otherThings__boxes {
  width: 45rem;
  height: 35.5rem;
  margin-top: 5rem;
}

.otherThings__text {
  width: 45rem;
  height: 35.5rem;
  margin-top: 5rem;
}

.otherThings__text h1 {
  padding-top: 15rem;
  font-size: 3.5rem;
}

.otherThings__boxes {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.box--1 {
  width: 15rem;
  height: 15rem;
  margin-bottom: 1rem;
  background-image: url('/img/crowd.png');
  background-size: cover;
}

.box--2 {
  width: 15rem;
  height: 15rem;
  background-image: url('/img/boy.png');
  background-size: cover;
 
}

.box--3 {
  width: 15rem;
  height: 15rem;
  margin-bottom: 1rem;
  margin-right: 10rem;

}

.box--4 {
  width: 15rem;
  height: 15rem;
  background-image: url('/img/girls.png');
  background-size: cover;
}

.box--3 h1 {
  padding-top: 5rem;
  text-decoration: underline;
}

.codeville, .pink {
  padding-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: underline;
  text-transform: initial;
  color: var( --spaceCadet-bg-color)
}

/* The Best Team Styles */

.genesys__bestTeam--section {
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 background-color: var(--spaceCadet-bg-color);
}

.genesys__bestTeam--section {
 width: 100%;
 height: 50rem;
}

.bestTeam--img {
 width: 45rem;
 height: 35.5rem;
 background-color: var(--grey-bg-color);
 background-image: url('/img/bestTeam.png');
 background-size: cover;
}

.bestTeam--text-content {
 padding-right: 5rem;
 color: var(--main-bg-color)
}

.bestTeam--text-content h1 {
 font-size: 3rem;
 font-weight: 600;
}

.bestTeam--text-content p {
 font-size: 1.5rem;
 font-weight: 400;
 padding-top: 3.5rem;
 padding-bottom: 2.5rem;
}

.bestTeam--text-content span {
 text-decoration: underline;
 text-decoration-color: none;
}

.bestTeam--text-content a {
 color: var(--cbGreen-bg-color);
 font-size: 1.5rem;
 font-weight: bold;
}

/* genesy subscribe section styles */

.genesys__subscribe--section {
 background-color: var(--cbGreen-bg-color);
 display: flex;
 height: 25rem;
}

.subscribe--arrow-img {
 width: 10%;
 height: 100%;
 background-color: var(--main-bg-color);
 background-image: url('/img/arrow-up.png');
 background-repeat: no-repeat, repeat;
 background-position: center; 
}

.subscribe--text-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.subscribe--text {
  margin-left: 5rem;
  font-size: 2rem;
  font-weight: bold;
}

.subscribe--email-vpp {
  margin-left: 15rem;
  font-size: 1.3rem;
}

.email-add, .vpp {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

hr {
  width: 20rem;
  color: var(--gunMetalbg-bg-color) !important;
}

.subscribe__button {
  margin-left: 10rem;
} 

.subscribe--btn {
  padding: .5rem;
  background: none;
  border-radius: .5rem;
  text-transform: uppercase;
}

/* footer styles */
.genesys__footer {
 width: 100%;
 height: 35rem;
 /* background-color: orangered; */
}

.footer__content {
 display: flex;
 justify-content: space-between;
}

.footer__left ul li a:link {
 text-decoration: underline;
 font-size: 1.3rem;
 color: var(--spaceCadet-bg-color);
}

.underline a:link {
 text-decoration: underline;
 font-size: 1.3rem;
 color: var(--spaceCadet-bg-color);
}

.studio {
  padding-top: 1.5rem;
}

.touch {
  margin-top: 5rem;
}

.footer__right {
  display: flex;
}

.footer__img {
 width: 15rem;
 height: 15rem;
 background-color: var(--grey-bg-color);
 background-image: url('/img/footer.png');
 background-repeat: no-repeat, repeat;
 background-position: center; 
}

.footer__link-1 {
  padding-top: 3.3rem;
}

.footer__item-1, .footer__right {
  font-size: 1.5rem;
  padding-top: 5rem;
  padding-right: 5rem;
}

.footer__remark {
  padding-top: 5rem;
  padding-left: 3.5rem;
}

.touch {
  padding-top: 2.5rem;
}

.footer__copyright {
 text-align: center;
}

.copy--right {
 text-transform: uppercase;
}

.ps {
  display: inline-block;
   padding-left: 1.5rem;
}

