/* Subscribe */
.learnable__subscribe {
    width: 100%;
    height: 19rem;
    background-color: var(--saffron-bg-color);
    display: flex;
}

.subscribe--arrow-img {
    width: 10%;
    height: 100%;
}

.subscribe--text-content {
    width: 90%;
    height: 100%;
}

.subscribe--arrow-img {
    width: 10%;
    height: 100%;
    background-color: var(--main-bg-color);
    background-image: url('/img/arrow-up.png');
    background-repeat: no-repeat, repeat;
    background-position: center;
}

.subscribe--text-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5rem;
    padding-right: 10rem;
}

.subscribe--text-content h1 {
    font-size: 2.5rem;
}

.subscribe--email-vpp {
    font-size: 1.5rem;
}

.email-add, .vpp {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

hr {
    width: 20rem;
    background-color: var(--gunMetalbg-bg-color) !important;
}

.subscribe--btn {
    padding: .5rem;
    background: none;
    border-radius: .5rem;
    text-transform: uppercase;
}
