/* learnable styles */
.learnable__navbar {
    width: 100%;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var( --spaceCadet-bg-color);
}

.learnable__navbar a {
    text-decoration: none;
    text-transform: uppercase;
    opacity: 0.75;
    font-size: 1rem;
    color: var(--main-bg-color)
}

@media screen and (max-width: 600px) {
    .learnable__navbar {
        display: none;
    }
}

.journal--text a{
    text-decoration: underline;
    text-transform: uppercase;
    opacity: 0.75;
    font-size: 1.3rem;
    color: var(--cbGreen-bg-color)
}

.learnable__navbar ul {
    list-style: none;
}
