/* Faq */
.learnable__faq {
    width: 100%;
    height: 56rem;
    background-color: var(--main-bg-color);
}

.learnable__faq h1 {
    font-size: 5rem;
    font-weight: bold;
    padding-top: 5rem;
    padding-left: 15rem;
    color:var(--gunMetal-bg-color)
}

.FAQ__question {
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  font-size: 14px;
}

.FAQ__question:hover {
  text-decoration: underline;
  cursor: pointer;
}

.FAQ__answer--hidden {
  display: none;
}
